# Ignore artifacts:
.next
out
build
coverage

# Ignore all HTML files:
*.html

# Ignore lockfiles:
bun.lock
package-lock.json
yarn.lock

# Ignore node_modules
node_modules

# Ignore configuration files that should maintain their formatting
.env*
.editorconfig
